@font-face {
    font-family: 'Pacifico';
    src: url(/src/Fonts/Pacifico-Regular.ttf);
    font-family: 'Oswold';
    src: url(/src/Fonts/Oswald-VariableFont_wght.ttf)
    
}

*{
  
    box-sizing: border-box;
}
.Banner{
    background-image: url(/src/Images/background.png);
 
    
}

.Banner.Text{
    color: #ffffffc9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30%;
    font-family: 'Pacifico',cursive;
    font-size: 100px;
    

}
nav{
    background: hsla(210,90%,45%,.65);
    margin-bottom: 10px;
}
.navitems{
    padding-left: 40%;
    padding-top:4px;
    padding-bottom: 4px;
}

.navitems li{
    display: inline-block;
    position: relative;
    padding:10px 10px; 
    color:#ffffffc9;
    font-size: 25;
    font-weight: bold;
    
    
}
