@font-face {
    font-family: 'Pacifico';
    src: url(/src/Fonts/Pacifico-Regular.ttf);
    font-family: 'Oswold';
    src: url(/src/Fonts/Oswald-VariableFont_wght.ttf)
}

* {

    box-sizing: border-box;
}

body {
    font-family: 'Oswold';
}

.Banner {
    background-image: url(/src/Images/background.png);


}

.Banner.Text {
    color: #ffffffc9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35%;
    font-family: 'Pacifico', cursive;
    font-size: 100px;


}

nav {
    background: hsla(210, 90%, 45%, .65);
    margin-bottom: 10px;
}

.navitems {
    padding-left: 43%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navitems li {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    color: #ffffffc9;
    font-size: 25;
    font-weight: bold;
}

body {
    background-color: black;
}

p {
    color: #a1a1a1;
}


.Eustis,
.Fidelity,
.BestBuy{
    background-color: hsla(210, 90%, 45%, .65);
    width: 1000px;
    margin-bottom: 20px;
    margin: 20px auto;


}

.WGU {
    background-color: hsla(210, 90%, 45%, .65);
    width: 1000px;
    margin-bottom: 20px;
    margin: 20px auto;
}

.CompanyDuties {
    color: #ffffffc9;
    display: inline-block;
    width: 600px;

}


.CompanyDuties {
    margin-left: 20%;
    padding-top: 30px;
}

.CompanyDuties li {
    list-style: disc;
    padding-bottom: 10px;

}

.CompanyCotainer {
    margin-left: 35px;

}

.Eustis .CompanyCotainer {
    bottom: 400px;
    left: 30px;
}

.Eustis .Position {
    padding-left: 450px;
    position: relative;
    bottom: 20px;
}

.CompanyCotainer h1 {
    color: #ffffffc9;
    font-size: 30px;


}

.CompanyCotainer p {
    color: #ffffffc9;
    font-size: 20px;
}

.Eustis .CompanyLogo {
    height: 150px;
    position: relative;
    background-color: white;
    padding-left: 60px;
}

.Fidelity .CompanyLogo {
    height: 150px;
    position: relative;
    background-color: white;
    padding-left:35px;
}

.BestBuy .CompanyLogo {
    height: 150px;
    position: relative;
    background-color: white;
    padding-left: 70px;
}

.WGUBanner{
    position: relative;
    left: 20px;
}

.WGU .SchoolLogo{
    height: 150px;
    width: 500px;
    position: relative;
    background-color: white;   
    display: inline-block;
}

.SchoolLogo2{
    width: 499px;
    height: 150px;
    display:inline-block;
    background: white;
    position: relative;
    border-left: 5px grey solid;
    margin-left: -4px;
    
}

.DelgadoBanner{
padding-top: 50px;
position: relative;
bottom:20px;
width: 300px;
left:100px;

}

.Eustis img {

    padding-left: 32%;
    padding-bottom: 10px;
    padding-top: 10px;

}

.Fidelity img {
    height: 150px;
    margin-left: 32%;
}

.Fidelity h1 {
    margin-left: 1;
}

.Fidelity .Position {
    padding-left: 500px;
    position: relative;
    bottom: 20px;
}

.BestBuy img {
    margin-left: 30px;
    padding: 15px;
    padding-left: 32%;
}

.BestBuy .Position {
    padding-left: 450px;
    position: relative;
    bottom: 20px;
}

.Intro {
    margin-bottom: 10px;
    padding: 20px;
    display: block;
    background: hsla(210, 90%, 45%, .65);
}

.Intro h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffffc9
}

.Intro p {
    text-align: center;
}

.White {
    color: #a1a1a1;
}

.navitems li:hover {
    background-color: rgb(37, 134, 245);
    border-radius: 25px;
}

.WGUDescription .Sublist{
    color: #ffffffc9;
    list-style: disc;
    margin-left: 60px;
}

.WGUDescription{
    display: inline-block;
}
.EduTable{
    padding-left: 85px;
}

.WGUDescription{
    color:#ffffffc9;
}

.DccDescription{
    display: inline-block;
    padding-left: 125px;
}

.DccDescription .Sublist{
    color: #ffffffc9;
    list-style: disc;
    margin-left: 60px;
}

.DccDescription{
    color:#ffffffc9;
}
