@font-face {
    font-family: 'Pacifico';
    src: url(/src/Fonts/Pacifico-Regular.ttf);
    font-family: 'Oswold';
    src: url(/src/Fonts/Oswald-VariableFont_wght.ttf)
}

* {

    box-sizing: border-box;
}

.Banner {
    background-image: url(/src/Images/background.png);


}

.Banner.Text {
    color: #ffffffc9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30%;
    font-family: 'Pacifico', cursive;
    font-size: 100px;


}

nav {
    background: hsla(210, 90%, 45%, .65);
    margin-bottom: 10px;
}

.navitems {
    padding-left: 40%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navitems li {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    color: #ffffffc9;
    font-size: 25;
    font-weight: bold;


}

/*.CurrentItem{
    background-color: rgb(37, 134, 245);
    border-radius: 25px;
}
 */

.Intro {
    margin-bottom: 10px;
    padding: 20px;
    display: block;
    background: hsla(210, 90%, 45%, .65);
}

.Intro h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffffc9
}

.Intro p {
    text-align: center;
}

.Goals {
    vertical-align: top;
    width: 620px;
    margin-bottom: 10px;
}

.Hobbies {
    vertical-align: top;
    width: 620px;
    margin-bottom: 10px;

}

.List {
    list-style: disc;
    padding: 10px 50px;
    width: 500px;

}


.Relocate {
    padding-left: 60px;
}

.Relocate li {
    list-style: circle;

}


p {
    padding-left: 5px;
}

.Skills li {
    list-style: disc;

}

.Skills ul {
    padding-left: 50px;
}

div.Certifications {
    width: 620px;
    margin-bottom: 10px;
}

.Left div,
.Left section,
.Right {
    background: hsla(210, 90%, 45%, .65);
}



.Right {
    display: inline-block;
    width: 600px;
    margin-left: 125px;
}

.Left {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    padding-right: 300px;
    margin-left: 15%;
}

.Goals .Header,
.Skills .Header,
.Certifications .Header,
.Hobbies .Header {
    text-align: center;
    font-size: 30px;
    color: #ffffffc9;
    ;

}

.Subheader {
    color: #ffffffc9;
    font-size: 20px;
    padding-left: 25%;
}


.navitems li:hover {
    background-color: rgb(37, 134, 245);
    border-radius: 25px;
}

body {
    font-family: 'Oswold';
    background-color: rgb(0, 0, 0);
    color: #a1a1a1;
}

.White {
    color: #ffffffc9;
}